<div id="authentification">
  <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
           <form [formGroup]="form" (ngSubmit)="tester()">
               <div class="password form-group">
                  <div class="row">
                      <label for="login">Votre login :</label> 
                      <input formControlName="login"
                       id="login"
                       type="text" 
                       class="form-control" placeholder="Saisissez votre  login ">
                   </div>
               </div>
               <div class="password form-group">
                  <div class="row">
                      <label for="password">Votre mot de passe:</label> 
                      <input formControlName="password"
                       id="password"
                       type="password" 
                       class="form-control" placeholder="Saisissez votre mot de passe">
                   </div>
               </div>
               <div class="form-group">
            
                        
                <div class="row">
                    <button class="btn btn-primary" type="submit">Connectez-vous</button>
                </div>  
              
              </div>
           </form>
      </div>
  </div>
</div>


>