/* You can add global styles to this file, and also import other style files */

@import "~bootstrap3/dist/css/bootstrap.css";
@import"~font-awesome/css/font-awesome.min.css";

html, body {
	overflow-x: hidden;
}

body {
	background: #f5f5f5;
	font-size: 14px;
	line-height: 24px;
	color: #666;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
p {
	margin-bottom: 24px;
}

.header {
	box-shadow: 0 1px 6px rgba(0,0,0,.3);
	text-transform: uppercase;
}
.header .top {
	background:#ff9c00;
	line-height: 50px;
	color: #fff;
	padding: 0 60px;
}
.header .top a {
	color: #fff;
}
.header .top a:hover {
	opacity: .75;
	text-decoration: none;
}
.header .top .available {
	float: left;
}
.header .top .available i {
	font-size: 36px;
	line-height: 50px;
	margin-right: 8px;
	vertical-align: middle;
}
.header .top .right-icons {
	float: right;
	font-size: 24px;
}
.header .top .right-icons a {
	margin-left: 12px;
}
.header .bottom {
	background: #fff;
	line-height: 70px;
	padding: 0 60px;
	color: #232323;
	font-weight: 500;
	position: relative;
}
.header .bottom a {
	color: #232323;
}
.header .bottom .title {
	font-size: 28px;
	font-family: 'Raleway', sans-serif;
	float: left;
}
.header .bottom .title a:hover {
	opacity: .75;
	text-decoration: none;
}
.main-nav {
	float: right;
}
.main-nav ul {
	margin-bottom: 0;
}
.main-nav ul>li {
	padding: 0;
	display: inline-block;
	margin-left: -4px;
	margin-bottom: 0;
}
.main-nav ul>li a {
	padding: 0 20px;
	display: inline-block;
	line-height: 70px;
	height: 70px;
	border-bottom: 5px solid transparent;
}
.main-nav ul>li a:hover {
	border-bottom: 5px solid #7c4dff;
	text-decoration: none;
}
.main-nav ul>li.active a {
	border-bottom: 5px solid #7c4dff;
	text-decoration: none;
}
.header-action-button-wrapper {
	float: right;
	width: 120px;
	height: 70px;
	display: inline-block;
}
.header-action-button {
	position: absolute;
	bottom: -30px;
	right: 60px;
	z-index: 99;
}
.header .bottom .action-button {
	color: #fff;
}
.responsive-menu-open {
	display: none;
	float: right;
	text-transform: uppercase;
	line-height: 70px;
	height: 70px;
	text-decoration: none;
}
.responsive-menu-open:hover {
	text-decoration: none;
}
.responsive-menu {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 100%;
	min-width: 100%;
	background: #fff;
	z-index: 999;
	padding: 24px;
	overflow-y: scroll;
	-webkit-transition: .25s;
	-moz-transition: .25s;
	-o-transition: .25s;
	-ms-transition: .25s;
	transition: .25s;
}
.responsive-menu.open {
	left: 0;
}
.responsive-menu-close {
	position: absolute;
	top: 24px;
	right: 24px;
	text-transform: uppercase;
	text-decoration: none;
}
.responsive-menu-close:hover {
	text-decoration: none;
}
.responsive-nav ul>li a {
	color: #222;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
}
.responsive-nav ul>li.active a {
	color: #7c4dff;
}
.no-scroll {
	overflow: hidden;
}
@media all and (max-width: 1024px) {
	.header .top {
		padding: 0 12px;
	}
	.header .top .available span {
		display: none;
	}
	.header .bottom {
		padding: 0 12px;
	}
	.main-nav {
		display: none;
	}
	.responsive-menu-open {
		display: inline-block;
	}
	.header-action-button-wrapper {
		width: 84px;
	}
	.header-action-button {
		right: 12px;
	}
}
/*==========  Popup  ==========*/
.popup, .slide-out-popup {
	background: #fff;
	box-shadow: 0 0 8px rgba(0,0,0,.3);
	position: absolute;
	top: 47px;
	right: 35px;
	z-index: 999;
	min-width: 118px;
	display: none;
}
.slide-out-popup {
	top: 54px;
	right: 41px;
}
.popup:before, .slide-out-popup:before {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 7.5px 10px 7.5px;
	border-color: transparent transparent #fff transparent;
	position: absolute;
	top: -10px;
	right: 30px;
}
.popup .social-nav ul, .slide-out-popup .social-nav ul {
	margin-bottom: 0;
}
.popup .social-nav ul li, .slide-out-popup .social-nav ul li {
	line-height: 30px;
	margin-bottom: 0;
}
.popup .social-nav ul li a, .slide-out-popup .social-nav ul li a {
	color: #232323;
	font-size: 12px;
	line-height: 30px;
	text-transform: uppercase;
	padding: 0 20px;
	display: inline-block;
	width: 100%;
	height: 100%;
}
.popup .social-nav ul li a:hover, .slide-out-popup .social-nav ul li a:hover {
	color: #fff;
	background: #7c4dff;
	font-weight: 700;
	text-decoration: none;
}
@media all and (max-width: 1024px) {
	.popup {
		right: 2px;
	}
	.popup:before {
		right: 15px;
	}
}